<footer>
  <div class="content">
    <p class="links">
      <a target="_blank" href="/faq">FAQ</a>
      <a target="_blank" href="/disclaimer">Disclaimer</a>
      <a target="_blank" href="https://discord.gg/h6Pvm8M">Contact</a>
      <a target="_blank" href="https://www.patreon.com/enriquebv/memberships">Patreon</a>
    </p>
  </div>
</footer>