<div id="lets-mock-it">
  <!-- Channel-selector -->
  <header>
    <transition name="channel-disappear">
      <h1>Let's Mock...</h1>
    </transition>
  </header>
  <transition-group name="channel-disappear" tag="div" class="channels">
    <button class="channel" v-for="channel in channels" v-if="!showingPannel" :class="channel.id" :key="channel.id"
      :disabled="!channel.active" :title="channel.description" v-tippy="{ placement : 'bottom',  arrow: true }"
      @click="selectChannel(channel)">
      <p>{{ channel.name }}</p>
    </button>
  </transition-group>
  <!-- Channel Panel -->
  <transition name="channel-panel-animation" mode="out-in">
    <div class="channel-panel" v-if="showingPannel">
      <div class="list">
        <h2>Mocks</h2>
        <div class="mock-listed empty" v-if="channelMocks.length === 0">
          <span>No hay mocks usando {{ creatingChannel }}</span>
        </div>

        <mock-listed
          v-for="(mock, index) in channelMocks"
          :key="index"
          :current-url="currentUrl"
          :current-updating="currentUpdating"
          :mock="mock"
          :index="index"
          @load-mock="loadMock">
        </mock-listed>
      
      </div>
      <div class="panel">
        <h2>{{ currentAction }} mock</h2>
        <div class="header">
          <label class="endpoint complete-input" ref="endpoint">
            <span class="root">{{ currentUrl }}</span><input type="text" placeholder="endpoint" v-model="endpoint" />
          </label>
          <label class="status">
            <input :class="`status-${status}`" type="number" min="100" max="999" placeholder="Status (200, 400, etc)"
              v-model.number="status" />
          </label>
        </div>
        <textarea class="response" ref="response" v-model="ajax.response"
          placeholder="Respuesta (JSON, XML, etc)"></textarea>
        <div class="channel-footer">
          <div class="format-selector" title="El formato que tendra la respuesta." v-tippy>
            <input name="response-format" type="radio" id="format-raw" value="raw" v-model="ajax.format" />
            <label for="format-raw" class="response-label">
              Texto plano
            </label>
            <input name="response-format" type="radio" id="format-json" value="json" v-model="ajax.format" />
            <label for="format-json" class="response-label">
              { JSON }
            </label>
            <input name="response-format" type="radio" id="format-xml" value="xml" v-model="ajax.format" />
            <label for="format-xml" class="response-label">
              &lt; XML &gt;
            </label>
          </div>
          <div class="method-selector">
            <input name="method" type="radio" id="method-get" value="get" v-model="method" />
            <label for="method-get" class="method-label">GET</label>
            <input name="method" type="radio" id="method-post" value="post" v-model="method" />
            <label for="method-post" class="method-label">POST</label>
          </div>
          <div class="actions">
            <button class="cancel">Cancelar</button>
            <button @click="createMock">Crear mock</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</div>