@import "reset";
@import "./tippy/tippy.scss";

$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$grey-text: #bdc3c7;
$background: #23272a;

html,
body {
  min-height: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  font-family: $main-font;
  background: $background;
  font-size: 14px;
}

.particle-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #ac1843;
  &:hover {
    text-decoration: underline;
  }
}

*[v-cloak] {
  display: none;
}

input,
textarea,
button {
  font-family: $main-font;
  padding: 8px 16px;
  border: 0;

  &:focus {
    outline: none;
  }
}

.tippy-tooltip {
  font-size: 1em;
}

%complete-input {
  background: #fff;
  color: $grey-text;
  padding: 6px 12px;
  border-radius: 2px;

  input {
    padding: 0px 3px;
    color: #444;
  }

  input:focus + label {
    border: 2px solid #3498db;
  }
}

#lets-mock-it {
  min-height: 100%;
  display: flex;
  flex-flow: column;

  header {
    h1 {
      color: $grey-text;
      font-size: 5em;
      text-align: center;
      margin-top: 1.5em;
    }
  }

  .channels {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2em;

    button.channel {
      height: 180px;
      display: flex;
      justify-content: flex-end;
      flex-flow: column;
      text-align: left;
      margin: 6px;
      background: transparent;
      font-size: 2em;
      color: $background;
      background: $grey-text;
      cursor: pointer;

      &:disabled {
        color: $background !important;
        background: $grey-text !important;
        cursor: not-allowed;
      }

      &.ajax {
        background: #feca57;
      }

      &.ws {
        background: #079992;
      }

      p {
        text-align: right;
        width: 156px;
        font-weight: bold;
      }
    }
  }

  .channel-panel {
    margin: 0px auto;
    margin-bottom: auto;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 2px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-flow: row nowrap;

    .panel {
      width: 80%;

      h2 {
        font-size: 1em;
        font-weight: bold;
        color: $background;
        margin-bottom: 12px;
        text-transform: uppercase;
      }
    }

    .list {
      width: 20%;
      padding-right: 12px;

      h2 {
        font-size: 1em;
        font-weight: bold;
        color: $background;
        margin-bottom: 12px;
        text-transform: uppercase;
      }

      .mock-listed {
        background: #fff;
        border-radius: 2px;
        display: flex;
        flex-flow: row nowrap;
        padding: 6px 12px;
        color: $background;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 6px;
        
        &.empty {
          background: none;
          display: flex;
          flex-flow: column;
          justify-content: center;

          span {
            text-align: center;
            text-transform: uppercase;
            font-size: 0.9em;
            width: 100%;
            margin:auto 0px;
          }

          &:hover {
            background: none;
            color: $grey-text;
          }
        }

        button {
          padding: 0;
          background: none;
          padding: 6px;
          box-sizing: border-box;
          fill: $grey-text;
          cursor: pointer;

          &:hover {
            fill: #2980b9;
          }
        }

        span {
          margin: auto 0px;
        }
      }
    }

    h2 {
      font-size: 2em;
      color: #23272a;
      font-weight: 500;
    }

    div.header {
      display: flex;
      flex-flow: row nowrap;

      select.method {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        font-size: 1.3em;
        border: 0;
        padding: 12px;
        &:focus {
          outline: none;
        }
      }

      label.endpoint {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        font-size: 2em;
        @extend %complete-input;
        span.root {
          display: flex;
          flex-flow: column;
          justify-content: center;
        }

        span[class*="channel-text-"] {
          font-weight: bold;
        }
        span.channel-text-ajax {
          color: #feca57;
        }
        span.channel-text-ws {
          color: #079992;
        }
        input {
          font-size: 1em;
          flex: 1;
        }
      }

      label.status {
        margin-left: 12px;
        input[type="number"] {
          font-weight: 500;
          font-size: 2em;
          width: calc(1em * 2);
          color: #2980b9;
          padding: 6px 12px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
          }

          &[class*="status-1"],
          &[class*="status-2"] {
            color: #2ecc71;
          }

          &[class*="status-4"] {
            color: #f39c12;
          }

          &[class*="status-5"] {
            color: #c0392b;
          }
        }
      }
    }

    textarea.response {
      box-sizing: border-box;
      margin:12px 0px;
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      min-height: 250px;
      box-sizing: border-box;
      font-family: "Courier New", Courier, monospace;
    }

    div.actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      button {
        background: #2980b9;
        color: #fff;
        text-transform: uppercase;
        margin: 0px 3px;
        border-radius: 2px;
        font-weight: bold;
        cursor: pointer;

        &.cancel {
          background: #fff;
          color: #2980b9;
        }
      }
    }
  }
}

.channel-disappear-enter-active,
.channel-disappear-leave-active {
  transition: all 0.3s;
}

.channel-disappear-enter, .channel-disappear-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  &.active {
    transform: scale(5);
  }
}

.channel-panel-animation-enter-active,
.channel-panel-animation-leave-active {
  transition: all 0.3s;
  transition-delay: 0.3s;
}

.channel-panel-animation-enter, .channel-panel-animation-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}

textarea.response {
  width: 100%;
  min-height: 250px;
}

div.channel-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

div.format-selector,
div.method-selector {
  border-radius: 12px;

  input[type="radio"][name="response-format"],
  input[type="radio"][name="method"] {
    display: none;

    &:checked + label {
      background: #2980b9;
      color: #fff;
      opacity: 1;
    }
  }

  label.response-label,
  label.method-label {
    font-weight: bold;
    background: #fff;
    color: #2980b9;
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
  }
}
